@charset "utf-8";

html {
  background: black;
}

body {
  background: url(fondo2.png) 70% no-repeat;
  border: black 10px inset;
}

div#main {
  background-color: rgba(0,0,0,0.6);
  font-family: "Times New Roman", Times, serif;
}
